<section class="body">
  <nav>
    <div>
      <h1>{{title}}</h1>
      <mat-slide-toggle color="warn" (change)="toggleAdmin()">Admin</mat-slide-toggle>
    </div>
    <ul>
      <li>
        <a routerLink="/electriccars" routerLinkActive="active" ariaCurrentWhenActive="page">
          <button mat-button>Electric cars</button>
        </a>
      </li>
      <li>
        <a routerLink="/cars" routerLinkActive="active" ariaCurrentWhenActive="page">
          <button mat-button>Cars</button>
        </a>
      </li>
      <li>
        <a routerLink="/carsadmin" routerLinkActive="active" ariaCurrentWhenActive="page">
          <button mat-button>Cars - admin</button>
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</section>