section {
    padding: 2rem;
    margin-top: 64px;
    overflow: auto;
}

table {
    width: 100%;
    height: 50vh;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  